h1 {
  color: black;
  font-size: 30px;
  font-weight: bold;
}
h1::before {
  content: "~ "
}

p {
  color: black;
}

block {
  background_color: grey;
}

.display {
  width: 400px;
  height: auto;
}
