body {
  background-color: var(#0A2344);
  color: var(#FFFFFF);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  text-align: center;
  color: var(#F5C400);
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 var(#00122A);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


.button {
  background-color: var(#F5C400);
  color: var(#00122A);
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  transition: 0.2s ease;
}

.button:hover {
  background-color: var(#FFFFFF);
  color: var(#0A2344);
}


table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background: var(#00122A);
  border: 3px solid var(#F5C400);
}

th {
  background: var(#F5C400);
  color: var(#00122A);
  padding: 10px;
  font-weight: bold;
}

td {
  border-bottom: 1px solid var(#F5C400);
  padding: 8px;
}
