table {
  background-color: #BBEEDD;
}

thead:hover {
  color: #FF00FF;
}

thead {
  background-color: #BBEEDD;
  color: white;
  border: 3px solid black;
}

tbody {
  background-color: #BBEEDD;
  color: white;
  border: 3px solid black;
}
