table {
  background-color: #BBEEDD;
  color: white;
  border: 3px solid black;
}

thead th:hover {
  color: #FF00FF;
}

thead th {
  background-color: #BB0000;
  color: white;
  border: 3px solid black;
}
